PATH_add local/bin
export PRJ_ROOT=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

CONDA_BASE=$(conda info --base) ;
source $CONDA_BASE/etc/profile.d/conda.sh
conda activate $PRJ_ROOT/local/envs/3plex || echo "WARNING: Conda environment not loaded"
